.sideMenuContainer {
	position: fixed;
	display: flex;
	height: 100%;
	width: 16.5%;
	background-color: rgb(5, 20, 60) !important;
}

.titleMenu {
	color: rgba(125, 170, 248, 0.753);
	margin-left: 0.2em;
}

.titleApp {
	color: rgb(247, 247, 247);
	margin-left: 1em;
	margin-top: 1em;
}

.item {
	color: rgb(247, 247, 247);
}
